# Servidor
PORT=3000

# MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=jillbar_db
DB_PORT=3306

# JWT — use qualquer valor aleatória (random digite qualquer coisa)
JWT_SECRET=troque_por_uma_chave_secreta_forte

# Aqui tem que ter conta no spotify kkkk
# https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=seu_client_id_aqui
SPOTIFY_CLIENT_SECRET=seu_client_secret_aqui
